<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>page1</title>
</head>
<body>

冰岛数据故事
冰岛位于地球北极圈边缘，凭借独特地理位置和与众不同的景致，冰岛也造就了自己独特的风土人情和生活文化并被外界人所追求。根据报道，在将近六年的时间里，冰岛成为了世界上性别平等程度最高的国家，然而在这个现实主义下的“乌托邦式”的国家中生活着的冰岛人对待婚姻又抱以怎样的态度呢？接下来让我们通过几项数据来了解一下吧

第一项数据来源：世界银行-世界发展指标数据库 数据名称：2017年冰岛0-65岁，及65岁以上人口总数及女性人口总数
{{ the_plot_all|safe }}


第二项数据来源：OECD Family Database

数据名称：0-5岁儿童的家庭成员情况（冰岛）
{{ the_plot_all2|safe }}
根据第一、二项数据显示，冰岛新生儿有超过三分之二是来自未婚女性，某种程度来说冰岛有超过70%的双亲没有缔结婚姻。这在许多国家是羞耻且有违伦理的事情，包括在我国，“先上车后补票“势必遭致舆论挞伐，更何况是“上了车不补票“？不过在冰岛，似乎并不这样...

第二页面

第三页面

通过几项关于冰岛女性，国家生育情况等数据，生活在冰岛的女性精神与经济都相对富足，即使造成单身女性形成原因多种多样，但无论如何，在冰岛当一位未婚先孕或者不婚的女性似乎成为了一件稀松平常的事情，且与其他发达邻居国家相比，冰岛又拥有不常见的高生育率。所以在这种社会环境中，父母未婚，或者是先生子再结婚，甚至一直不婚也成为冰岛独特的现象，并且女性地位非常之高，所以在冰岛，婚姻对于女性来说反而成为一件没有实际意义的事情，当婚姻观变得淡泊时，结婚也许就不再是刚性的需求



<form method="GET" action="/gopage2">    
<p><input value='go page2!' type='SUBMIT'></p>
</form>
<form method="POST" action="/gopage3">    
<p><input value='go page3!' type='SUBMIT'></p>
</form>


</body>
</html>