<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>冰岛女性社会地位</title>
</head>
<body>

根据2018年世界经济论坛发布《2018年全球性别差距报告》中，消除逾85.8%性别差距的冰岛稳居全球性别差距指数榜首，连续十年成为全球性别最平等的国家。自2006年以来，冰岛在缩小性别差距方面的表现一直遥遥领先。

数据来源-世界银行一是冰岛国家会议中妇女参与的比例数据，二是冰岛女性就业情况数据来
{{ the_plot_all|safe }}


从2001年开始，冰岛女性参与国会人数占比逐渐增加，到2018年时，可以看到将近有超过半数的女士可以参与到国家会议中
全球各国女性就业率---数据来源世界银行中的世界发展指标数据库

{{ the_plot_all2|safe }}
从这图中可以看到全球女性就业比率大体呈上升趋势发展
条形图的制作

{{ the_plot_all3|safe }}
从这图可以看到其中冰岛女性就业率遥遥领先于其他国家，说明在将近半年的时间里，在冰岛有超过70%的女性能够拥有自己的工作。超过半数的冰岛女性能够参与会议，能够在经济发展与政治中起到作用，可见冰岛女性社会地位之高。




<form method="GET" action="/">    
<p><input value='go page1!' type='SUBMIT'></p>
</form>
<form method="POST" action="/gopage2">    
<p><input value='go page2!' type='SUBMIT'></p>
</form>


</body>
</html>