<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>冰岛高生育率和高离婚率</title>
</head>
<body>


数据来源：世界银行-世界发展指标-冰岛及其他国家总离婚率数据和总生育率数据
{{ the_plot_all|safe }}
数据说明-冰岛的离婚率总体高于北欧其他国家平均水平，在2018年离婚率达到53%



{{ the_plot_all2|safe }}

数据说明-冰岛生育率从2010年起，呈缓步下降趋势，但总体高于大部分国家，尤其是北欧国家水平

冰岛拥有高于大部分国家水平的高离婚率和高生育率，也造就了单亲家庭“风潮”的盛行，单身妈妈比例逐渐上升也是冰岛前卫社会文化的一个重要体现


<form method="GET" action="/">    
<p><input value='go page1!' type='SUBMIT'></p>
</form>
<form method="POST" action="/gopage3">    
<p><input value='go page3!' type='SUBMIT'></p>
</form>


</body>
</html>